<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{{title}}</title>
  <link rel="stylesheet" type="text/css" href="/public/css/main.min.css">
  <script src="/public/js/jquery.min.js"></script>
  <script src="/public/js/bootstrap.min.js"></script>
  <script src="/public/js/tota11y.min.js"></script>
</head>

<body>
  {{{ body }}}

</body>

</html>
